  
:root {
  /* Primary colors */
  --blue: hsl(246, 80%, 60%)  ;
   --Light-red: hsl(15, 100%, 70%);
   --Soft-blue: hsl(195, 74%, 62%);
   --Light-red: hsl(348, 100%, 68%);
   --Lime-green: hsl(145, 58%, 55%);
   --Violet : hsl(264, 64%, 52%);
   --Soft-orange : hsl(43, 84%, 65%);

  /* Neutral */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);


    /* sizes */
  --mobile-size: 375px;
  --Desktop-size: 1440px;

  --Font-size: 18px ;
  --border-radius:1rem;
}




*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
     /* This defines what 1rem is */
    font-size: 62.5%;
}


body {
  margin: 0;
    box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display:flex;
  width: 100rem;
  margin-top:20rem;
}

.user-card {
  display:grid;
  width:17rem;
  grid-auto-rows: minmax(10px, auto);
  text-align:left;
  border-radius:var(--border-radius);
  background-color:var(--Dark-blue );
}



.user-info {
  display:flex;
  flex-direction:column;
  border-radius:var(--border-radius);
  background-color:var(--blue );
  padding-top:20px;
  padding-bottom:40px;
 padding-left:1.6rem;
}

.user-photo {
  width: 6rem;
  border-radius:50px;
  border:0.2rem solid white;

}

.timeline-description {
  display:flex;
  padding-left:1.6rem;
  align-items:center;
  font-size:1.2rem;
  color:var(--Pale-Blue);

}

.first-name, .last-name {
  font-size: 2.9rem;
  color:white;
  padding-top:0.5rem;

}
.report-text {
  padding-top:2rem;
  font-size: 1rem;
  color:var(--Pale-Blue);
}

.monthly {
  padding-bottom:1rem;
}

.stats-cards-container {
  display:grid;
  margin-left:10rem;
  width:59rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns:repeat(3, 30%);
  grid-gap: 1em;

}

.stats-menu {
  justify-self:end;
  align-self:center;
  padding-right:1.7rem;
  text-align:end;
  font-size:2.3rem;
  grid-column: 2/3;
  color:var(--Pale-Blue);
}

.stats-menu:hover, .timeline-description:hover {
  cursor:pointer;
  color:white;
}

.activity {
  grid-column: 1/2;
  grid-row: 1;
  display:flex;
  font-weight:700;
  align-items:flex-end;
}

.current-stats {
  display:flex;
  grid-column: 1/2;
  font-size:3.5rem;
  align-items:center;
}

.prev-stats {
  grid-row: 3/4;
  grid-column: 1/2;
  padding-bottom:1rem;
  font-size:1rem;
  color:var(--Pale-Blue);
}

.stats-card {
  background-color:var(--Lime-green );
  border-radius:var(--border-radius);
  display:grid;
  grid-template-rows:14% 86%;
}

.stats-box {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  border-radius:var(--border-radius);
  background-color:var(--Dark-blue );
  color:white;
  text-align:left;
  padding-left:1.7rem;
}

.svg-icon {
  display:flex;
  width:30%;
  margin-left:auto;
  /* height:120%; */
  height:130%;
  padding-right:1rem;
}



    @media only screen and (max-width: 375px) {
    /* @media only screen and (max-width: 1rem) { */
              main {
                  flex-direction:column;
                  width:375px;
                  align-items:center;
                  margin-top:5rem;
                  margin-bottom:5rem;
                }

              .user-card{
                width:90%;
                grid-template-columns:1fr 1fr 1fr;
                grid-template-rows:2fr 1fr;

              }

              .daily {

                  padding-left:0;

                  justify-content:center;
                  grid-column:1/2; 
              }

              .weekly {
                  grid-column:2/3; 
                  padding-left:0;
              }

              .monthly {
                  grid-column:3/4; 
                  padding-left:0;
                  padding-bottom:0;
              }

              .timeline-description {
                  grid-row:2/3;
                  justify-content:center;
                  padding-top:0;
              }

              .stats-cards-container {
                width:90%;
                grid-template-columns:1fr;
                grid-auto-rows: minmax(10rem, auto);
                grid-row-gap:1em;
                margin-top:1rem;
                margin-left:0;
              }

                .user-info {
                    display:grid;
                    grid-template-columns:0.7fr 1fr 1fr;
                    grid-template-rows:1fr 1fr;
                    grid-column-gap:0.2em;
                    padding-bottom:2rem;
                    grid-column:1/-1;

                }

                .user-photo {
                  width:6rem;
                  padding-top:0;
                  grid-row: 1/3;
                }

                .report-text {
                    display:grid;
                    grid-column: 2/3;
                    grid-row: 1;
                    margin-left:0.7rem;
                    font-size:1.4rem;
                    align-content:end;
                }

                .first-name {
                    margin-left:0.7rem;
                    grid-column: 2/3;
                    grid-row: 2;
                    font-size:2.3rem;
                }

                .last-name {
                    grid-column: 3/4;
                    grid-column: 3/4;
                    margin-left:-1rem;
                    grid-row: 2;
                    font-size:2.3rem;
                }

                .first-name, .report-text, .last-name {
                  padding-top:0;
                }

                .stats-box {
                    grid-template-rows:1fr 2fr;
                    grid-template-columns:1fr 1fr;
                }

                .prev-stats {
                    grid-column: 2/3;
                    grid-row: 2;
                    align-self:center;
                    justify-self:end;
                    padding-bottom:0;
                    padding-right:1.7rem;
                    padding-top:0.8rem;
                    font-size:1.1rem;
                    grid-template-rows:1fr 2fr;
                }

                .activity {
                  font-size:1.5rem;
                }


                .current-stats {
                  font-size:2.5rem;
                }



    }
